body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: #f5f5f5;
    color: #333;
}
header {
    background: #0078d7;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 1rem;
    padding: 1rem;
}
.card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 1rem;
    text-align: center;
    transition: transform 0.2s;
}
.card:hover {
    transform: scale(1.02);
}
.card img {
    width: 100%;
    border-radius: 10px;
}
button {
    background: #0078d7;
    color: white;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    cursor: pointer;
}
button:hover {
    background: #005fa3;
}
.carrito {
    background: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1)
}
footer {
    background: #0078d7;
    color: white;
    text-align: center;
    padding: 0.8rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
#pedidos ul li {
    background: #eaf3ff;
    padding: 0.5rem;
    border-radius: 8px;
    margin-bottom: 0.3rem;
}